.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: all;
  z-index: 3;
  will-change: opacity;
  animation: hide var(--animation-time, 300ms) linear;
}
@keyframes hide {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.dialog[open] + .backdrop {
  display:block;
  opacity: 1;
  animation: show var(--animation-time, 300ms) linear;
}
@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.dialog {
  position: fixed;
  color: var(--text-color, #333333);
  padding: var(--dialog-padding, 24px);
  background: var(--main-color, #ffffff);
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  text-align: center;
  z-index: 4;
  opacity:0;
  transition-property: transform opacity;
  transition-duration: var(--animation-time, 300ms);
  transition-timing-function: cubic-bezier(.33,.17,.85,1.1);
  transform: translate(-50%, -50%) scale3d(0,0,0);
  max-width: 650px;
  min-width: var(--min-width, 310px);
  overflow: hidden;
}
.dialog[open] {
  opacity: 1;
  transform: translate(-50%, -50%) scale3d(1,1,1); 
  animation: open var(--animation-time, 300ms) cubic-bezier(.33,.17,.85,1.1);
}




