.background {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 72px;
  background: var(--main-color, #ffffff);
  transform: translateY(100%);
  color: var(--text-color, #333333);
  z-index: 1;
  overflow: hidden;
  will-change: transform;
  border-top: var(--seperator-line, 1px solid rgba(51,51,51,0.2));
  transition: transform var(--animation-time, 150ms) linear;
}
.background[playing] {
  transform: translateY(0);
}
#fbg {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 72px;
  left: 0;
  right: 0;
  top: var(--header-height);
  transform: translateY(100%);
  background: linear-gradient(to bottom, var(--gradient-top), var(--background-color, #ffffff));
  color: var(--text-color);
  transition: transform 300ms linear 300ms;
}
.background[full-screen] ~ #fbg {
  transform: translateY(0);
  transition: transform 300ms linear;
}
#fbg > .img-wrapper {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  border: 5px solid rgba(51,51,51,0.2);
  background: rgba(51,51,51,0.2);
  overflow: hidden;
  border-radius: 24px;
  transition: var(--button-bg-animation);
  height: 450px;
  width: 450px;
}
#fbg > .img-wrapper > img {
  height: 100%;
  width: 100%;
}
.buffered {
  height: 5px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(51,51,51,0.2);
  transform: translateX(-100%);
  transition: transform 150ms linear;
}
.progress {
  height: 5px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: var(--pop-color);
  transform: translateX(-100%);
  transition-property: color;
  transition-duration: 30ms;
  transition-timing-function: linear;
}
.click-strip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  z-index: 1;
  cursor: pointer;
}
.popup::-webkit-scrollbar {
  width: 0;
}
.popup {
  height: 451px;
  width: 450px;
  background: rgba(var(--main-rgb),0.5);
  color: var(--text-color);
  transform-origin: bottom right;
  transform: scale3d(0,0,0);
  position: fixed;
  overflow-y: auto;
  border-radius: 18px;
  transition: transform 150ms linear;
}
.popup[open] {
  transform: scale3d(1,1,1);
}
.popup > .track {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  border-bottom: var(--seperator-line);
  transition: var(--button-bg-animation);
}
.popup > .track > div:first-child {
  margin-left: 8px;
  padding: 8px;
  margin-right: 16px;
}
.popup > .track > div:nth-child(2) {
  padding: 8px;
  width: 100%;
  overflow: hidden;
  transform: translateX(-15px);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.popup > .track:hover {
  background: var(--hover-color);
}
.popup > div[playing] {
  background: rgba(100, 100, 100, 0.582);
  cursor: auto;
}
svg {
  height: 24px;
  width: 24px;
}
#play {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#play > svg {
  height: 40px;
  width: 40px;
}
#next {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%) translateX(85px);
}
#back {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-50px);
}
#duration {
  position: fixed;
  bottom: 5px;
  right: 10px;
  font-size: 11px;
  cursor: pointer;
}
#duration > * {
  pointer-events: none;
}
#info {
  text-transform: uppercase;
  position: fixed;
  bottom: 5px;
  left: 10px;
  overflow: hidden;
  font-size: 11px;
  max-height: 14px;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#expand {
  position: fixed;
  left: 20px;
  bottom: 20px;
  transform: rotate(0deg);
  transition: transform 300ms linear 300ms;
}
.background[full-screen] > #expand {
  transform: rotate(180deg);
  transition: transform 300ms linear;
}
#favorite {
  position: fixed;
  top: 20px;
  right: 20px;
  color: var(--gradient-contrast, #333333);
  transition: color 500ms ease;
}
#playlist {
  transition: transform 300ms cubic-bezier(.33,.17,.85,1.1);
  position: absolute;
  z-index: 1;
  transform: translateY(var(--fab-home, 190.5px));
}
.background[full-screen] ~ #fbg > #playlist {
  transform: translateY(0);
  transition: transform 300ms cubic-bezier(.33,.17,.85,1.1) 300ms;
}
@media screen and (min-height: 750px) and (min-width: 620px) {
  #fbg > .img-wrapper {
    height: 550px;
    width: 550px;
  }
  .popup {
    height: 550px;
    width: 550px;
  }
}
@media screen and (min-height: 850px) and (min-width: 720px) {
  #fbg > .img-wrapper {
    height: 650px;
    width: 650px;
  }
  .popup {
    height: 650px;
    width: 650px;
  }
}
@media screen and (min-width: 1200px) {
  .background {
    left: 300px;
  }
  #fbg {
    left: 300px;
  }
  #info {
    max-width: 450px;
  }
}
@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background: rgba(var(--pop-rgb),0.4);
  animation: ripple-animation 0.7s linear;
}