*/__pycache__
*/output
*/config.json
*/lib_data.json
*/favorites.json
*/build
*/output.prof
*/Audiosync.spec
*/dist
*/node_modules
*/.venv
*/old_config.json
*/old_favorites.json
*/.hintrc
*/playlists/*.json
